@font-face {
    font-family: 'CeraPro-Thin';
    src: url(./CeraPro-Thin.ttf);
}

@font-face {
    font-family: 'CeraPro-Light';
    src: url(./CeraPro-Light.ttf);
}

@font-face {
    font-family: 'CeraPro-Regular';
    src: url(./CeraPro-Regular.ttf);
}

@font-face {
    font-family: 'CeraPro-Medium';
    src: url(./CeraPro-Medium.ttf);
}

@font-face {
    font-family: 'CeraPro-Bold';
    src: url(./CeraPro-Bold.ttf);
}

@font-face {
    font-family: 'CeraPro-Black';
    src: url(./CeraPro-Black.ttf);
}

@font-face {
    font-family: 'Hanged-Letters';
    src: url(./Hanged-Letters.ttf);
}
